################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Train-it/v15/Server/sqlite3
/.vs/slnx.sqlite
/.vs/Train-it/v15/.suo
/packages
/Train-it/Bin/roslyn
/.vs/slnx.sqlite-journal
